[submodule "external/iab-renderer"]
	path = external/iab-renderer
	url = https://github.com/DTSProAudio/iab-renderer.git
[submodule "external/asdcplib"]
	path = external/asdcplib
	url = https://github.com/cinecert/asdcplib.git
[submodule "external/indicators"]
	path = external/indicators
	url = https://github.com/p-ranav/indicators.git
